Repository hashgraph/hedera-mirror-node-explorer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericleponner, @svienot, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @ericleponner @svienot

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers  @ericleponner @svienot
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot

# Docker
/chart/                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
/sourcify-setup/                                @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.env.docker                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.dockerignore                                @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/nginx-docker.conf                            @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot

feat: add support for semantic-release actuated releases (#1601)
  .github/workflows/chart-release.yaml
  .github/workflows/flow-pull-request-checks.yaml
  .github/workflows/flow-pull-request-formatting.yaml
  .github/workflows/flow-release-explorer.yaml
  .github/workflows/zxc-compile-explorer-code.yaml
  .github/workflows/zxc-release-docker-container.yaml
  .github/workflows/zxc-release-helm-chart.yaml
  .releaserc
  Dockerfile
  chart/Chart.yaml
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/configmap.yaml
  chart/templates/deployment.yaml
  chart/templates/hpa.yaml
  chart/templates/ingress.yaml
  chart/templates/poddisruptionbudget.yaml
  chart/templates/service.yaml
  chart/templates/serviceaccount.yaml
  chart/values.yaml
  package-lock.json
  package.json
  vite.config.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @ericleponner, @svienot, @hashgraph/release-engineering

Fix 'Collapse All'/'Expand All' in Call Trace section.
  src/components/contract/ContractResultStates.vue
  src/components/contract/ContractResultTrace.vue
Owners: @ericleponner, @svienot

fix: ensure release configuration uses the main branch
  .github/workflows/zxc-compile-explorer-code.yaml
  .releaserc
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @ericleponner, @svienot

Notes added by 'git notes add'
  0c81653e7d03225c104650393ce12a2825657415
Owners: @ericleponner, @svienot

Align pagination of Contract States on other tables.
  src/components/contract/ContractResultStates.vue
Owners: @ericleponner, @svienot

Finish implementing 'vertical' version of Property component.
  src/components/Property.vue
Owners: @ericleponner, @svienot

Get rid of PropertyVertical component (replaced by <Property vertical>).
  src/components/PropertyVertical.vue
Owners: @ericleponner, @svienot

ci: update the formatting workflow to use the correct runner group
  .github/workflows/flow-pull-request-formatting.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Get rid of unused 'wideName' prop and add 'keepCase prop to Property component.
  src/components/Property.vue
Owners: @ericleponner, @svienot

ci: update the formatting workflow to use the correct runner group (#1605)
  .github/workflows/flow-pull-request-formatting.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Revamp ContractResultLogs and ContractResultLogEntry components.
  src/components/contract/ContractResultLogEntry.vue
  src/components/contract/ContractResultLogs.vue
Owners: @ericleponner, @svienot

Reformatting.
  src/components/contract/ContractResultStates.vue
Owners: @ericleponner, @svienot

Drop use of smaller fonts for 'extras'.
  src/components/values/HexaValue.vue
  src/components/values/KeyValue.vue
Owners: @ericleponner, @svienot

Avoid display of 'Contract null'
  src/pages/ContractDetails.vue
Owners: @ericleponner, @svienot

Add colors for success and error.
  src/assets/styles/explorer.css
Owners: @ericleponner, @svienot

Revamp ContractResultsSection and ContractResultTable.
  src/components/contract/ContractResultTable.vue
  src/components/contract/ContractResultsSection.vue
Owners: @ericleponner, @svienot

Temporary hack to display transfer graphs in both dark/light modes (this is not dynamic).
  src/utils/SVGUtils.ts
Owners: @ericleponner, @svienot

Get rid of fontawesome icon in ContractResultTable.
  src/components/contract/ContractResultTable.vue
Owners: @ericleponner, @svienot

Convert TransactionLabel to script setup and replace fontawesome icon.
  src/components/values/TransactionLabel.vue
Owners: @ericleponner, @svienot

Convert TransactionTable to script setup.
  src/components/transaction/TransactionTable.vue
Owners: @ericleponner, @svienot

Revamp NotificationBanner.
  src/components/NotificationBanner.vue
Owners: @ericleponner, @svienot

Added AccountTextFieldView and TokenTextFieldView (to be used later).
  src/dialogs/transaction/common/AccountTextFieldController.ts
  src/dialogs/transaction/common/AccountTextFieldView.vue
  src/dialogs/transaction/common/EntityTextFieldController.ts
  src/dialogs/transaction/common/EntityTextFieldView.vue
  src/dialogs/transaction/common/TokenTextFieldController.ts
  src/dialogs/transaction/common/TokenTextFieldView.vue
Owners: @ericleponner, @svienot

Enabled new approve allowance dialog.
  src/components/allowances/AllowancesSection.vue
  src/dialogs/ApproveAllowanceDialog.vue
  src/dialogs/transaction/allowance/approve/ApproveAllowanceController.ts
  src/dialogs/transaction/allowance/approve/ApproveAllowanceDialog.vue
  src/dialogs/transaction/common/EntityTextFieldController.ts
Owners: @ericleponner, @svienot

Added RadioBoxView and StackView (to be used later).
  src/components/RabioBoxView.vue
  src/components/StackView.vue
Owners: @ericleponner, @svienot

Added HbarTextFieldView (to be used later).
  src/dialogs/transaction/common/HbarTextFieldController.ts
  src/dialogs/transaction/common/HbarTextFieldView.vue
Owners: @ericleponner, @svienot

Added ApproveAllowanceDialogV2 vue.
  src/dialogs/transaction/TransactionController.ts
  src/dialogs/transaction/TransactionDialog.vue
  src/dialogs/transaction/allowance/approve/ApproveAllowanceController.ts
  src/dialogs/transaction/allowance/approve/ApproveAllowanceDialogV2.vue
  src/dialogs/transaction/common/AccountTextFieldController.ts
  src/dialogs/transaction/common/EntityTextFieldController.ts
  src/dialogs/transaction/common/HbarTextFieldController.ts
  src/dialogs/transaction/common/TokenAmountTextFieldController.ts
  src/dialogs/transaction/common/TokenTextFieldController.ts
Owners: @ericleponner, @svienot

TaskDialog now uses TaskView.
  src/components/StackView.vue
  src/dialogs/core/task/TaskDialog.vue
Owners: @ericleponner, @svienot

Added TokenAmountTextFieldController (to be used later).
  src/dialogs/transaction/common/TokenAmountTextFieldController.ts
Owners: @ericleponner, @svienot

Fixed HbarTextFieldController.
  src/dialogs/transaction/common/HbarTextFieldController.ts
Owners: @ericleponner, @svienot

Removed XXXTextFieldView (keeping XXXTextFieldController only).
  src/dialogs/transaction/common/AccountTextFieldView.vue
  src/dialogs/transaction/common/EntityTextFieldView.vue
  src/dialogs/transaction/common/HbarTextFieldView.vue
  src/dialogs/transaction/common/TokenTextFieldView.vue
Owners: @ericleponner, @svienot

Fixed RadioBoxView.
  src/components/RabioBoxView.vue
Owners: @ericleponner, @svienot

Added UpdateCryptoAllowanceDialog.
  src/components/allowances/AllowancesSection.vue
  src/dialogs/transaction/allowance/approve/ApproveAllowanceController.ts
  src/dialogs/transaction/allowance/approve/UpdateCryptoAllowanceController.ts
  src/dialogs/transaction/allowance/approve/UpdateCryptoAllowanceDialog.vue
Owners: @ericleponner, @svienot

Fixed TransactionDialog confirm slot.
  src/dialogs/transaction/TransactionDialog.vue
Owners: @ericleponner, @svienot

Renamed HbarTextFieldController as CryptoTextFieldController.
  src/dialogs/transaction/allowance/approve/ApproveAllowanceController.ts
  src/dialogs/transaction/allowance/approve/ApproveAllowanceDialog.vue
  src/dialogs/transaction/common/CryptoTextFieldController.ts
Owners: @ericleponner, @svienot

Moved some files around in src/dialogs/transaction folder.
  src/components/allowances/AllowancesSection.vue
  src/dialogs/transaction/allowance/ApproveAllowanceController.ts
  src/dialogs/transaction/allowance/ApproveAllowanceDialog.vue
  src/dialogs/transaction/allowance/UpdateCryptoAllowanceController.ts
  src/dialogs/transaction/allowance/UpdateCryptoAllowanceDialog.vue
Owners: @ericleponner, @svienot

Added HbarTextFieldController.tbarAmount (to be used later).
  src/dialogs/transaction/common/HbarTextFieldController.ts
Owners: @ericleponner, @svienot

Added border-style: none to ButtonView.
  src/dialogs/core/dialog/ButtonView.vue
Owners: @ericleponner, @svienot

Added UpdateTokenAllowanceDialog.
  src/components/allowances/AllowancesSection.vue
  src/dialogs/transaction/allowance/ApproveAllowanceController.ts
  src/dialogs/transaction/allowance/UpdateTokenAllowanceController.ts
  src/dialogs/transaction/allowance/UpdateTokenAllowanceDialog.vue
  src/dialogs/transaction/common/AccountTextFieldController.ts
  src/dialogs/transaction/common/CryptoTextFieldController.ts
  src/dialogs/transaction/common/TokenAmountTextFieldController.ts
  src/dialogs/transaction/common/TokenTextFieldController.ts
  src/pages/NftDetails.vue
  src/pages/TokenDetails.vue
  src/pages/TopicDetails.vue
  src/utils/cache/base/EntityCache.ts
Owners: @ericleponner, @svienot

Fixed TransactionController.execute().
  src/dialogs/transaction/TransactionController.ts
Owners: @ericleponner, @svienot

Fix font in Footer text.
  src/components/page/Footer.vue
Owners: @ericleponner, @svienot
