Repository hashgraph/hedera-mirror-node-explorer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericleponner, @svienot, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Fix 1 lint warning and silence another one.
  src/components/SolidityCode.vue
  tests/unit/globalSetup.js
Owners: @ericleponner, @svienot

Roll-back recent changes to tagAndCommitHash in vite.config.ts.
  vite.config.ts
Owners: @ericleponner, @svienot

fix: attempt to restore explorer version displayed in footer (#1702)
  src/components/SolidityCode.vue
  tests/unit/globalSetup.js
  vite.config.ts
Owners: @ericleponner, @svienot

Bumped axios, vite and vitest packages.
  package-lock.json
  package.json
Owners: @ericleponner, @svienot

Split SearchBar e2e into SearchBar and NameServiceSearch and remove the latter from CI tests.
  tests/e2e/specs/SearchBar.cy.ts
  tests/e2e/specs/local/NameServiceSearch.cy.ts
Owners: @ericleponner, @svienot

Fix description of test.
  tests/e2e/specs/local/NameServiceSearch.cy.ts
Owners: @ericleponner, @svienot

chore: bumped axios, vite and vitest packages (#1705)
  package-lock.json
  package.json
Owners: @ericleponner, @svienot

chore: exclude SearchBar e2e tests which query name services from CI tests. (#1703)
  tests/e2e/specs/SearchBar.cy.ts
  tests/e2e/specs/local/NameServiceSearch.cy.ts
Owners: @ericleponner, @svienot

Add drainAndFilterTransactions() in MirrorNodeUtils (for further use).
  src/schemas/MirrorNodeUtils.ts
Owners: @ericleponner, @svienot

drainAndFilterTransactions() only considers CREDIT transfers.
  src/schemas/MirrorNodeUtils.ts
Owners: @ericleponner, @svienot

Try to query a max of 100 transactions when filtering on minimum transfer amount.
  src/components/transaction/TransactionTableControllerXL.ts
  src/schemas/MirrorNodeUtils.ts
Owners: @ericleponner, @svienot

Show transfer amount selector only when Transactions are selected.
  src/pages/AccountDetails.vue
Owners: @ericleponner, @svienot

Limit the number of drainAndFilterTransactions() iterations.
  src/schemas/MirrorNodeUtils.ts
Owners: @ericleponner, @svienot

TransactionTableControllerXL gets new optional constructor argument 'minTinyBar' to filter crypto transfers.
  src/components/transaction/TransactionTableControllerXL.ts
Owners: @ericleponner, @svienot

AccountDetails allows to select minimum hbar transfer value to filter (CRYPTO TRANSFER) transactions.
  src/AppStorage.ts
  src/pages/AccountDetails.vue
Owners: @ericleponner, @svienot

Put 1h, 2h..5h values for transfer filter.
  src/pages/AccountDetails.vue
Owners: @ericleponner, @svienot

drainAndFilterTransactions() considers both DEBIT and CREDIT transfers.
  src/schemas/MirrorNodeUtils.ts
Owners: @ericleponner, @svienot

Moved to eslint 9.x.
  .eslintrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
Owners: @ericleponner, @svienot

chore: moving to eslint next major release (#1707)
  .eslintrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
Owners: @ericleponner, @svienot

Add CSS variables for network color maps.
  src/styles/explorer.css
Owners: @ericleponner, @svienot

Network themes come from static color maps instead of networks configuration file.
  src/config/NetworkConfig.ts
  src/utils/RouteManager.ts
Owners: @ericleponner, @svienot

Add NetworkColorMaps for further use.
  src/config/NetworkColorMaps.ts
Owners: @ericleponner, @svienot

Add missing variable in mode switch.
  src/components/ThemeController.ts
Owners: @ericleponner, @svienot

Adjusted unit tests.
  tests/e2e/plugins/index.js
  tests/unit/account/AccountDetails.spec.ts
  tests/unit/block/BlockDetails.spec.ts
  tests/unit/contract/ContractDetails.spec.ts
  tests/unit/contract/ContractResult.spec.ts
  tests/unit/contract/ContractResultLogEntry.spec.ts
  tests/unit/node/NodeDetails.spec.ts
  tests/unit/node/NodeTable.spec.ts
  tests/unit/node/Nodes.spec.ts
  tests/unit/token/TokenDetails.spec.ts
  tests/unit/topic/HCSContentSection.spec.ts
  tests/unit/topic/TopicDetails.spec.ts
  tests/unit/transaction/TransactionDetails.spec.ts
  tests/unit/transaction/Transactions.spec.ts
  tests/unit/transfer_graphs/NftTransferGraph.spec.ts
  tests/unit/transfer_graphs/TokenTransferGraphF.spec.ts
  tests/unit/utils/EVMAddress.spec.ts
  tests/unit/utils/EntityLoader.spec.ts
  tests/unit/values/ComplexKeyValue.spec.ts
  tests/unit/values/HexaValue.spec.ts
  tests/unit/values/KeyValue.spec.ts
  tests/unit/values/OpcodeValue.spec.ts
Owners: @ericleponner, @svienot

Switched vue/attributes-order off in eslint.config.mjs.
  eslint.config.mjs
Owners: @ericleponner, @svienot

Remove color configuration from networks-config.
  public/networks-config.json
Owners: @ericleponner, @svienot

chore: configure network colors with builtin color map instead of networks-config.json file. (#1709)
  public/networks-config.json
  src/components/ThemeController.ts
  src/config/NetworkColorMaps.ts
  src/config/NetworkConfig.ts
  src/styles/explorer.css
  src/utils/RouteManager.ts
Owners: @ericleponner, @svienot

Moved from vue/recommended to vue/essential in eslint.config.mjs.
  eslint.config.mjs
Owners: @ericleponner, @svienot

Applied recommendations from eslint.
  src/App.vue
  src/charts/core/ChartController.ts
  src/charts/hgraph/TxOverTimeController.ts
  src/components/MirrorLink.vue
  src/components/account/CollectionTable.vue
  src/components/allowances/NftAllSerialsAllowanceTable.vue
  src/components/allowances/TokenAllowanceTable.vue
  src/components/block/BlockTransactionTable.vue
  src/components/contract/ContractResultStates.vue
  src/components/page/header/wallet/AccountSelector.vue
  src/components/search/SearchAgent.ts
  src/components/token/NftCell.vue
  src/components/transaction/TransactionByIdTable.vue
  src/dialogs/abi/ParamTypeEditor.vue
  src/dialogs/verification/FileList.vue
  src/utils/cache/LabelByIdCache.ts
  src/utils/name_service/provider/NameServiceProvider.ts
  src/utils/wallet/WalletSession.ts
  src/utils/wallet/client/WalletClient.ts
  src/utils/wallet/client/WalletClient_Ethereum.ts
  tests/e2e/plugins/index.js
  tests/unit/utils/EntityLoader.spec.ts
Owners: @ericleponner, @svienot

chore: applying changes recommended by eslint (#1710)
  eslint.config.mjs
  src/App.vue
  src/charts/core/ChartController.ts
  src/charts/hgraph/TxOverTimeController.ts
  src/components/MirrorLink.vue
  src/components/account/CollectionTable.vue
  src/components/allowances/NftAllSerialsAllowanceTable.vue
  src/components/allowances/TokenAllowanceTable.vue
  src/components/block/BlockTransactionTable.vue
  src/components/contract/ContractResultStates.vue
  src/components/page/header/wallet/AccountSelector.vue
  src/components/search/SearchAgent.ts
  src/components/token/NftCell.vue
  src/components/transaction/TransactionByIdTable.vue
  src/dialogs/abi/ParamTypeEditor.vue
  src/dialogs/verification/FileList.vue
  src/utils/cache/LabelByIdCache.ts
  src/utils/name_service/provider/NameServiceProvider.ts
  src/utils/wallet/WalletSession.ts
  src/utils/wallet/client/WalletClient.ts
  src/utils/wallet/client/WalletClient_Ethereum.ts
  tests/e2e/plugins/index.js
  tests/unit/utils/EntityLoader.spec.ts
Owners: @ericleponner, @svienot

Removed unneeded rules from eslint.config.mjs.
  eslint.config.mjs
Owners: @ericleponner, @svienot

Updated package dependencies using npm update --save.
  package-lock.json
  package.json
Owners: @ericleponner, @svienot

chore: updating package dependencies using npm update --save (#1712)
  package-lock.json
  package.json
Owners: @ericleponner, @svienot

Clean-up sourcify setup and remove cert and private key from repository.
  README.md
  package.json
  scripts/check-hosts-setup.sh
  scripts/sourcify-setup.sh
  sourcify-setup/README.md
  sourcify-setup/docker-compose.yaml
  sourcify-setup/nginx/certificate/localhost.crt
  sourcify-setup/nginx/certificate/localhost.key
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @ericleponner, @svienot, @hashgraph/platform-ci, @hashgraph/platform-ci-committers

Make sourcify-setup.sh check whether user is logged to docker registry and improve check of certificate validity.
  scripts/sourcify-setup.sh
Owners: @ericleponner, @svienot

Migrated TablePageSize to <script setup> syntax.
  src/components/transaction/TablePageSize.vue
Owners: @ericleponner, @svienot

Improve user feedback in sourcify-setup.sh and ignore certificate files in git.
  .gitignore
  scripts/sourcify-setup.sh
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @ericleponner, @svienot

Show transfer amount selector only when Transactions are selected.
  src/pages/AccountDetails.vue
Owners: @ericleponner, @svienot

TransactionTableControllerXL gets new optional constructor argument 'minTinyBar' to filter crypto transfers.
  src/components/transaction/TransactionTableControllerXL.ts
Owners: @ericleponner, @svienot

AccountDetails allows to select minimum hbar transfer value to filter (CRYPTO TRANSFER) transactions.
  src/AppStorage.ts
  src/pages/AccountDetails.vue
Owners: @ericleponner, @svienot

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @ericleponner @svienot

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers  @ericleponner @svienot
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot

# Docker
/chart/                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
/sourcify-setup/                                @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.env.docker                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.dockerignore                                @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/nginx-docker.conf                            @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
