Repository hashgraph/hedera-mirror-node-explorer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericleponner, @svienot, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Add missing 'defineModel' in ContractByteCodeValue.
  src/components/values/ContractByteCodeValue.vue
Owners: @ericleponner, @svienot

Leverage ContractByteCodeValue in ContractByteCodeSection (but still work in progress).
  src/components/contract/ContractByteCodeSection.vue
Owners: @ericleponner, @svienot

Continue revamp of ContractByteCodeSection.
  src/components/contract/ContractByteCodeSection.vue
  src/components/values/ContractByteCodeValue.vue
Owners: @ericleponner, @svienot

Initial revamp of ContractAbiValue (still work in progress).
  src/components/values/abi/ContractAbiEntry.vue
  src/components/values/abi/ContractAbiValue.vue
Owners: @ericleponner, @svienot

Try and hide Bulma.
  src/assets/styles/explorer.css
Owners: @ericleponner, @svienot

Apply page background color to PageFrameV2.
  src/components/page/PageFrameV2.vue
Owners: @ericleponner, @svienot

Very preliminary revamp of ContractResultTrace.
  src/components/contract/ContractActionsTable.vue
  src/components/contract/ContractResultTrace.vue
Owners: @ericleponner, @svienot

Rename InputUtils.ts to DialogUtils.ts and move under dialogs. Move definition of ButtonSize enum to DialogUtils.ts
  src/components/allowances/AllowancesSection.vue
  src/components/contract/ContractByteCodeSection.vue
  src/components/contract/ContractResultTrace.vue
  src/components/page/header/wallet/ConnectWalletButton.vue
  src/components/page/header/wallet/WalletStatusButton.vue
  src/components/token/TokensSection.vue
  src/dialogs/ApproveAllowanceDialog.vue
  src/dialogs/UpdateAccountDialog.vue
  src/dialogs/core/dialog/ButtonView.vue
  src/dialogs/core/dialog/DialogUtils.ts
  src/pages/AccountDetails.vue
  src/pages/BlockDetails.vue
Owners: @ericleponner, @svienot

ci: refactor release workflow
  Dockerfile
  chart/values.yaml
  package-lock.json
Owners: @ericleponner, @svienot, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Convert TransactionsById to script setup.
  src/pages/TransactionsById.vue
Owners: @ericleponner, @svienot

Revamp TransactionsById.
  src/assets/styles/explorer.css
  src/pages/TransactionsById.vue
Owners: @ericleponner, @svienot

Revamp TransactionByIdTable.
  src/assets/styles/explorer.css
  src/components/transaction/TransactionByIdTable.vue
  src/components/values/TimestampValue.vue
Owners: @ericleponner, @svienot

Revamp TokensByName.
  src/pages/TokensByName.vue
Owners: @ericleponner, @svienot

Set background color at :root level.
  src/assets/styles/explorer.css
  src/components/page/PageFrameV2.vue
  src/pages/TokensByName.vue
  src/pages/TransactionsById.vue
Owners: @ericleponner, @svienot

Revamp TokensByNameTable.
  src/components/token/TokensByNameTable.vue
Owners: @ericleponner, @svienot

Revamp TokensByPopularity.
  src/pages/TokensByPopularity.vue
Owners: @ericleponner, @svienot

Revamp TokensByPopularityTable.
  src/components/token/TokensByPopularityTable.vue
Owners: @ericleponner, @svienot

Revamp AccountsWithKey.
  src/pages/AccountsWithKey.vue
Owners: @ericleponner, @svienot

Revamp PageNotFound.
  src/pages/PageNotFound.vue
Owners: @ericleponner, @svienot

Revamp AdminKeyDetails.
  src/pages/AdminKeyDetails.vue
Owners: @ericleponner, @svienot

Revamp RoutingSpec.
  src/pages/RoutingSpec.vue
Owners: @ericleponner, @svienot

TaskDialog now handles a confirmation step.
  src/dialogs/core/task/TaskDialog.vue
Owners: @ericleponner, @svienot

ContractVerificationDialog is now based on TaskDialog.
  src/dialogs/verification/ContractVerificationController.ts
  src/dialogs/verification/ContractVerificationDialog.vue
Owners: @ericleponner, @svienot

Refactored RewardDownloadDialog using new DownloadDialog class.
  src/components/staking/RecentRewardsSection.vue
  src/dialogs/download/DownloadController.ts
  src/dialogs/download/DownloadDialog.vue
  src/dialogs/download/RewardDownloadDialog.vue
Owners: @ericleponner, @svienot

Refactored TransactionDownloadDialog using new DownloadDialog class.
  src/components/download/DownloadDialog.vue
  src/dialogs/download/TransactionDownloadDialog.vue
  src/pages/AccountDetails.vue
Owners: @ericleponner, @svienot

Added TaskDialog and TaskController (to be used later).
  src/dialogs/core/task/TaskController.ts
  src/dialogs/core/task/TaskDialog.vue
Owners: @ericleponner, @svienot

Fix layout of function Input/Output/Error in ContractResult.
  src/assets/styles/explorer.css
  src/components/values/FunctionError.vue
  src/components/values/FunctionInput.vue
  src/components/values/FunctionResult.vue
Owners: @ericleponner, @svienot

Remove default link styling.
  src/assets/styles/explorer.css
Owners: @ericleponner, @svienot

fix: rename helm resources back to hedera-explorer to avoid breaking Solo
  Dockerfile
  chart/Chart.yaml
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/configmap.yaml
  chart/templates/deployment.yaml
  chart/templates/hpa.yaml
  chart/templates/ingress.yaml
  chart/templates/poddisruptionbudget.yaml
  chart/templates/service.yaml
  chart/templates/serviceaccount.yaml
  chart/values.yaml
  package.json
Owners: @ericleponner, @svienot, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: resolve footer version issue
  chart/Chart.yaml
  chart/values.yaml
  vite.config.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @ericleponner, @svienot

fix: remaining rename from heiro to hedera
  chart/Chart.yaml
  chart/values.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @ericleponner, @svienot

fix: include hash in version number as build identifier
  vite.config.ts
Owners: @ericleponner, @svienot

feat: add semantic release publish process
  .github/workflows/chart-release.yaml
  .github/workflows/flow-pull-request-checks.yaml
  .github/workflows/flow-release-explorer.yaml
  .github/workflows/zxc-compile-explorer-code.yaml
  .github/workflows/zxc-release-docker-container.yaml
  .github/workflows/zxc-release-helm-chart.yaml
  .releaserc
  chart/Chart.yaml
  chart/values.yaml
  package-lock.json
  package.json
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @ericleponner, @svienot, @hashgraph/release-engineering

chore: break the pipeline
  .github/workflows/flow-release-explorer.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: restore the pipeline
  .github/workflows/flow-release-explorer.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: semantic release access issues
  .github/workflows/flow-release-explorer.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: resolve docker build context issue
  .github/workflows/zxc-release-docker-container.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: add PR formatting workflow
  .github/workflows/flow-pull-request-formatting.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Stop using smaller fonts for extras.
  src/components/contract/ContractResult.vue
  src/components/values/GasAmount.vue
  src/components/values/HbarExtra.vue
  src/components/values/link/AccountLink.vue
  src/components/values/link/TokenExtra.vue
Owners: @ericleponner, @svienot

Revamp ContractResultStates and ContractResultStateChangeEntry components.
  src/components/contract/ContractActionsTable.vue
  src/components/contract/ContractResultStateChangeEntry.vue
Owners: @ericleponner, @svienot

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @ericleponner @svienot

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers  @ericleponner @svienot
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot

# Docker
/chart/                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
/sourcify-setup/                                @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.env.docker                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/.dockerignore                                @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
**/nginx-docker.conf                            @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @ericleponner @svienot
